@majorBackground : spin(#f1f4f5, 0);
@majorBorder : spin(#d4d7e0, 0);
@majorText : spin(#345, 0);

@subBackground : spin(#f8f9f9, 0);
@subBorder : spin(#e5e7e8, 0);
@subText : spin(#c9d0d2, 0);

@buttonBackground : spin(#6a8fb2, 0);
@buttonBorder : spin(#476583, 0);
@buttonText : spin(rgb(245,250,255), 0);

@titleBackground : spin(#476583, -12);
@titleText : spin(rgba(245,250,255,.95), 0);

@highlightText : spin(#5c7b99, 0);
@highlightBorder : spin(#89b5d7, 0);